.navbar img {
  width: 50px; 
  height: 50px; 
  margin-right: 10px;
  border-radius: 50%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fb7916;
  color: white;
  padding: 10px;
}

.navbar__menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

.navbar__menu li {
  padding: 8px 16px;
}

.navbar__menu li:hover {
  background-color: #f7bc4e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar__footer {
  color: white;
  font-size: 20px;
  margin-left: auto;
}